@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Neue Regrade";
    src: url("../assets/fonts/neue-regrade.woff2");
}

body{
    background-color: #1c1c1c;
    font-family: "Neue Regrade";

}